
/* colocar essas variáveis em um arquivo separado */

.header {
  position: fixed;
  height: 7.75rem;
  width: 100vw;
  border-radius: 0px 0px 8px 0px;
  color: white;
  background: var(--azul-gradiente);
  z-index: 0;

}


.header__background {

  height: 7.75rem;
  
  background: url('../assets/ufal-sigla-branca-fundo-transparente.png') center 0 no-repeat fixed;
  background-position: left 48rem top -6.5rem;
  background-size: 25.75rem 32.28rem;
  
  /*position: fixed;*/
  /* pra resolver o problema da opacidade preciso deixar a imagem já opaca em 40% (fazer no gimp e diminuir o tamanho da imagem pra o arquivo não ficar pesado) */
  /*opacity: 0.40;*/

}

.header__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2.625rem;
  width: auto;
  height: 3.125rem;
  justify-content: space-around;
  
}

.header__content h4 {
  font-size: 1.65rem;
  
  font-weight: 400;
}

.header__inputIcon {
  position: relative;

}

.header__iconSearch {
  position: absolute;
  top: 25%;
  left: 18px;
  color: var(--cinza-texto)
}


.header__searchBar {
  width: auto;
  border-radius: 12px;
  color: var(--cinza-texto);
  background: var(--branco-gelo-forte);
/* Sombra Cards */

box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
border-radius: 12px;
border: none;

padding: 8px 101px 8px 58px; 
font-size: 16px;
font-weight: 400;


}

/* como tirar essa linha preta quando clica no input? */
.header__searchBar:focus {
  border: 0px solid;
  /*decoration: none*/
}

.header__icons {
  display: flex;
}

.header__iconsChild {
  padding-left: 24px;
  
}


div .profile {
  display: flex;
  align-items: center;
  
}

.profile-title {
  display: flex;
  flex-direction: column;
  padding-right: .75rem;
  align-items: flex-end;
  
}

.profile-photo {
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 50%;

}

.profile__title {
  color: var(--azul-ufal);
  text-decoration: none;
}

.profile__title:hover {
  opacity: 0.7;
  text-decoration: none;
}
